<!DOCTYPE html>
<html>
    <script src="D:\AngularJS\angular-1.7.9\angular.min.js">
    </script> 
    <style>
        input.ng-invalid{
            background-color: darkred;
        }
    </style>
    <body>
        <form ng-app="myApp" name="myForm">
          <div  ng-controller="myCtrl">
              Name: <input ng-model="name" required>
              <h3>You entered: {{name}}</h3>

              Email: <input type="email" name="myAddress" ng-model="txt">
              <span ng-show="myForm.myAddress.$error.email">Not a Valid email Address</span>
              <h1>Status</h1>
              <p>Valid: {{myForm.myAddress.$valid}} (if true, the value meets all criteria).</p>
              <p>Dirty: {{myForm.myAddress.$dirty}} (if true, the value has been changed).</p>
              <p>Touched: {{myForm.myAddress.$touched}} (if true, the field has been in focus).</p>
          </div>
        </form>

          <script>
              var app = angular.module("myApp",[]);
              app.controller("myCtrl",function($scope){
                  $scope.name = "Akshay Parmar";
              });
          </script>
    </body> 
</html>